header{
    h1{
        margin: 20px;
        text-align: center;

    }

.navbar{   
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        min-width: 590px;
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: $main-color;
        transition: all 1s;
        &:hover{
            color:$sec-color;
        }
    }
}

}