header
    h1 Это заголовок н1
    nav.navbar
        ul
            li: a(href="#") Главная
            li: a(href="#") Главная
            li: a(href="#") Главная
            li: a(href="#") Главная