section.promo
    .promo__title Компоненты FSD ЗАдание 2 
    ul
        li: a(href="colors.html" target="_blank" ) Colors & Type  
        li: a(href="colors.html" target="_blank" ) Form Elements
        li: a(href="colors.html" target="_blank" ) Cards
        li: a(href="colors.html" target="_blank" ) Headers & Footers